*~
.idea
.vscode/
*.swp
bak/
dist/

# Finder (MacOS) folder config
.DS_Store

# configure
config.toml
config.*.toml
!config.sample.tomlZ

*.bak
*.nkfile
!sample.nkfile

neko-engine
neko-data/

# Test coverage
coverage.out
